*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.text1{
    font-size: 32px;
    margin: 88px 0 0 162px;
}
.image{
    display: flex;
    justify-content: space-around;
    margin-top: 82px;
}
.text3{
    display: flex;
    justify-content: space-around;
    margin-right: 140px;
    padding-bottom: 20px;
    font-size: 20px;

}
.one-text{
    margin-right: 50px;
}
.porograph{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #A1A1A1;
    padding-bottom: 200px;
}
.img-1{
    display: flex;
    justify-content: space-around;
    padding: 114px 24px 24px;

}
.advantage-2{
    width: 80%;
    background: #FFCA3A;
}
.text-4{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    text-align: center;
    padding-bottom: 14px;
}
.porograph-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 10px;
}
.pr{
    margin-left: 30px;
}
.button-kg{
    display: flex;
    justify-content: space-around;
    padding-bottom: 114px;

}
.button-1{
    background: #FFFFFF;
    border-radius: 44px;
    padding: 13px 25px;
    color: #3D5675;
    border: none;
    font-size: 14px;
    font-weight: 700;
}
.button-2{
    background: #FFFFFF;
    border-radius: 44px;
    padding: 13px 25px;
    color: #3D5675;
    border: none;
    font-size: 14px;
    font-weight: 700;

}
#advantage-2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}